/** Universales **/

html {
    font-size: 62.5%;
    /**Reset para Rems, 62,5% = 10px de 16px **/
}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.contenedor {
    max-width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 3.3rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.7rem;
}

p {
    font-size: 1rem;
}


/**Header**/

.header-img {
    background-image: url(img/header.jpg);
    display: flex;
    justify-content: center;
    background-position: center;
    max-width: 100vw;
    background-color: #cccccc;
    /* Used if the image is unavailable */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.header {
    width: 80%;
    height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav>a>img {
    width: 25vw;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.enlaces>a {
    margin-right: 2rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4rem;
}

.enlaces-celular {
    display: none;
}

.enlaces>a:last-child {
    margin-right: 0rem;
}

header>h1 {
    width: 47rem;
    line-height: 5rem;
    font-weight: 700;
    font-size: 3rem;
}


/**Nosotros**/

.container-items {
    display: flex;
    height: 100%;
    margin: 0 auto;
}

.titulo-nosotros {
    margin: 2.8rem auto;
    font-weight: 300;
    width: auto;
    text-align: center;
}

.item {
    flex-basis: 34%;
    text-align: center;
}

.item>p {
    line-height: 3rem;
}

.item>img {
    height: 10vh;
}


/**Anuncios**/

.container-anuncios {
    display: flex;
    justify-content: space-between;
}

.anuncios {
    width: 80%;
    margin: 0 auto;
}

.anuncio {
    background-color: #f5f5f5;
    border: #b1b1b1 solid .2rem;
    margin: .5rem;
    flex-basis: 32%;
}

.anuncio>img {
    width: 100%;
}

.anuncios>h2 {
    text-align: center;
    font-weight: 300;
}

.sintitulo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.textoanuncios {
    width: 90%;
    margin: auto;
}

.textoanuncios>h3 {
    font-weight: 400;
}

.textoanuncios>ul>li>img {
    width: 3vw;
}

.descripcion {
    font-size: 1rem;
    line-height: 2.8rem;
}

.precio {
    color: #92c04f;
    font-size: 1.3rem;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
}

li>p {
    display: inline;
    margin-left: 1vw;
    font-size: 1.2rem;
    font-weight: 400;
}

.primer_li {
    margin-left: 0;
}

.boton_anuncio {
    background-color: #df8716;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
    height: 5vw;
    font-size: 1.2vw;
    font-weight: 700;
    margin-top: 2.3vw;
    margin-bottom: 2vw;
}

.botonVerTodas {
    background-color: #92c04f;
    border: none;
    float: right;
    margin-top: 3vw;
    width: 10vw;
    height: 4vw;
    color: #ffffff;
    font-size: 1.2vw;
    font-weight: 800;
}


/**CONTACTO**/

.contenedorcontacto {
    background: url(./img/encuentra.jpg);
    height: 28vw;
    background-position: center;
    background-size: cover;
}

.textocontacto {
    width: 80%;
    margin: auto;
    color: #ffffff;
}

.textocontacto>h2 {
    padding: 6vw 0 1.2vw;
}

.textocontacto>p {
    font-size: 1.3vw;
    padding-bottom: 2.5vw;
}

.textocontacto>button {
    background-color: #df8716;
    border: none;
    width: 13vw;
    height: 3.5vw;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.1vw;
    font-weight: 700;
}


/**BLOG**/

.containerblog {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    column-gap: 2vw;
}

article {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
    column-gap: 1.2vw;
    row-gap: 1.2vw;
}

article>div>img {
    width: 18.5vw;
    height: 13.5vw;
}

article>div>h2 {
    font-size: 2.5rem;
    margin: 0;
}

article>div>h2::after {
    content: "________________";
    margin-top: -1.5rem;
    color: #71b11f;
    display: block;
}

span {
    color: #df8817;
}

article>div>p:first-of-type {
    margin-top: 1rem;
}

article>div>p {
    font-size: 1.5rem;
    font-weight: 400;
}

.testimonio {
    background-color: #71b11f;
    border-radius: 1.5vw;
    width: 100%;
    color: #ffffff;
    padding: 2.4vw;
}

.testimonio>div>blockquote {
    display: inline;
    line-height: 2vw;
    font-size: 1.1vw;
    font-weight: 300;
    margin-left: 0;
}

.testimonio>img {
    float: left;
    width: 3vw;
    height: 3vw;
    margin-bottom: 7vw;
    margin-right: 1vw;
}

.testimonio>p {
    text-align: right;
    font-weight: 700;
    font-size: 1.1vw;
}

.griditem>h2 {
    text-align: center;
    font-weight: 300;
    margin: 4vw 0 3vw;
}


/**FOOTER**/

footer {
    background-color: #323232;
    height: 3rem;
}

.enlacesfooter {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enlacesfooter>div {
    display: flex;
}

.enlacesfooter>div>a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1vw;
    margin-right: 1.6vw;
}

.enlacesfooter>p {
    color: #ffffff;
    font-size: 1.1vw;
}


/**PAGINA NOSOTROS**/

.navbar {
    width: 80%;
    margin: 0 auto;
    height: 8rem;
    padding-top: 0;
}

.head {
    background-color: #323232;
    height: 8rem;
    width: 100%;
}

.contenedornosotros {
    width: 80%;
    margin: 0 auto;
}

.contenedornosotros>h1 {
    margin: 2.8rem auto;
    font-weight: 400;
    width: auto;
    text-align: center;
}

.textonosotros {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5rem;
    align-items: center;
}

.textonosotros>img {
    width: 100%;
}

@supports(object-fit: cover) {
    .textonosotros img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.textonosotros div p span {
    color: black;
    font-weight: 700;
    font-size: 1.7rem;
}

.textonosotros div p {
    font-size: 1.3rem;
    line-height: 2rem;
}


/*PAG ANUNCIOS*/

.footerpaganuncios {
    margin-top: 2rem;
}

.casacontainer>h1 {
    max-width: 80%;
    margin: 3rem auto;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
}

.casacontainer>img {
    width: 100%;
}

.casacontainer>div {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    margin: 3rem auto;
}

.casacontainer>p {
    max-width: 80%;
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 2rem;
}


/*PAG BLOG*/

.containerpagblog {
    max-width: 50%;
    margin: 0rem auto;
    display: block;
}

.containerpagblog>h1 {
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    margin: 3rem 0;
}

@media screen and (max-width: 769px) {
    article {
        display: block;
    }
    article>div>img {
        height: 100%;
        width: 100%;
    }
    article>div>h2 {
        margin-top: 1rem;
    }
    article>div>p:last-child {
        margin-bottom: 4rem;
    }
    .containerpagblog {
        max-width: 90%;
    }
}


/*Entradas Blog*/

.casacontainer>p {
    margin-top: 2rem;
}


/*Contacto*/

.contactform {
    max-width: 80%;
    margin: 2rem auto;
}

.contactcontainer>h2 {
    max-width: 80%;
    text-align: center;
    margin: 3rem auto;
    font-weight: 400;
    font-size: 2.7rem;
}

.contactform>fieldset>input,
.contactform>fieldset>textarea,
.contactform>fieldset>select {
    background-color: #e1e1e1;
    border: none;
    display: block;
    margin: .3rem 0 1rem;
    width: 100%;
    height: 3rem;
}

.contactform>fieldset>textarea {
    height: 18rem;
}

.contactform>fieldset>legend {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contactform>fieldset>label {
    font-size: 1.2rem;
    font-weight: 400;
}

.contactform>fieldset>input[type=submit] {
    background-color: #92c04f;
    width: 10rem;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 3rem;
}

.contactform>fieldset {
    margin-bottom: 2rem;
}

@media screen and (max-width: 769px) {
    /*nosotros*/
    .container-items {
        flex-direction: column;
    }
    .item>p {
        max-width: 90%;
        margin: 0 auto 4vw;
        font-size: 1.4vw;
    }
    .textonosotros {
        display: block;
    }
    /*anuncios*/
    .sintitulo {
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto;
    }
    .descripcion {
        font-size: 1.4vw;
    }
    /* blog */
    .containerblog {
        display: flex;
        flex-direction: column;
    }
    article {
        max-width: 90%;
        margin: 0 auto;
        column-gap: 0rem;
    }
    .testimonio {
        max-width: 70%;
        margin: 0 auto 4vw;
    }
    .text,
    .testimonio>div>blockquote,
    .testimonio>p {
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 560px) {
    /* nav y header */
    .nav>a>img {
        width: 40vw;
    }
    header>h1 {
        font-size: 5vw;
        width: 75vw;
        line-height: 10vw;
    }
    /* nosotros */
    .item>p {
        font-size: 1.4rem;
        max-width: 100%;
    }
    .titulo-nosotros {
        font-size: 4rem;
    }
    .item>h3 {
        font-size: 2rem;
    }
    /* anuncios */
    .sintitulo {
        max-width: 90%;
    }
    .descripcion {
        font-size: 1.4rem;
    }
    .precio {
        font-size: 2.8vw;
    }
    .anuncios>h2 {
        font-size: 4rem;
    }
    .textoanuncios>ul>li>img {
        width: 6.5vw;
    }
    li>p {
        font-size: 2.3vw;
        margin: 3vw;
    }
    .boton_anuncio,
    .botonVerTodas {
        font-size: 2vw;
        height: 7vw;
        text-transform: uppercase;
    }
    .botonVerTodas {
        width: 15vw;
    }
    /* nosotros */
    /* detalles casa */
    .casacontainer>div {
        max-width: 80%;
    }
    /* blog */
    .testimonio {
        max-width: 70%;
    }
    .text,
    .testimonio>div>blockquote,
    .testimonio>p {
        font-size: 1.4vw;
    }
    /* footer */
}